@media only screen and (max-width: 768px){
    /* For mobile phones: */
    .container{
        flex-direction: column;
        align-items: center;
    }
    body{
        transform: scale(1.05);
    }
   .headtext{
    font-size: 50%;
   }
}

@media only screen and (min-width: 600px){
        /* For tablets: */
        body{
            transform: scale(0.9);
            .container{
                flex-direction: row;
                align-items: center;
            }
        }
        .headtext{
            font-size: 70%;
        }
    }
@media only screen and (min-width: 768px){
   body{
    transform: scale(1);
   }
}


    
body {
       background-color:#F7F6F1 ;
        justify-content: center;
       
        
    }
    .container{
        display: flex;
        justify-content: center;
        margin-top: -20px;
        text-align: center;
        
    }
    .headtext{
        text-align: center;
        margin: 50px;
        font-size: 300%;
        color: #1469a2;
        display: flex;
        justify-content: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }
    .third{
        background-color: red;
        width: 230px;
        height: 360px;
        margin: 13px;
        border-radius: 15px;
        transition: transform 0.2s ease-out; 
    } 
    .third:hover{
        transform: scale(1.08);
    } 
    .jerry{
        margin: 13px;
        width: 230px;
        height: 360px;
        background-color: red ;
        border-radius: 15px;
        transition: transform 0.2s ease-out; 
    }
    .jerry:hover{
        transform: scale(1.08);
    } 
    .polo{
        margin: 13px;
        width: 230px;
        height: 360px;
        background:
        linear-gradient(55deg, aqua 2%,  #1B4F72 50%);
        border-radius: 15px;
        transition: transform 0.2s ease-out; 
    }
    .polo:hover{
        transform: scale(1.08);
    } 
    h1{
        text-align: center;
        align-items: center;
        color: white;
        
    }
    p{
        color: white;
        font-size: large;
        margin-top: -30px;
        margin-left: 10px;
    }
    .inicon{
        width: 40px;
        height: 40px;
        margin-right: 20px;
        margin-top: 10px;
    }
    .mailicon{
        width: 40px;
        height: 40px;
        
    }
    .square-icon {
        width: 10px; 
        height: 10px; 
        background-color:#1469a2;
        margin-top: 25px;
      }
      .circle{
        width: 150px;
        height: 150px;
        border-radius: 150px;
        background-color: white;
        margin-top: 15px;
        margin-left: 40px;
    }

      .ourpic{
        width: 150px;
             height: 150px;
             border-radius: 150px;
             
    }

.link{
    display: flex;
    justify-content: center;
}
